In [1]:
import pandas as pd
data=pd.read_excel("Asset data - Copy.xlsx")

In [2]:
data.head()

,SL#,invoces NO,DC NO,MCN,Description of Goods,QTY,Serial#,PTAG #,Received Date,Return Date,Received from,Status,Project #,Employee ID,=
0,1,NaN,NaN,Data Switch,CI-WS3650-48TS/K9: CISCO ONE CATALYST 3650 48 ...,1,FDO2215Q0E9,UC0074458,2019-02-21 00:00:00,NaN,Qualcomm,Issued,Android Upgrade Project,210458,priyanka vutkur
1,2,NaN,NaN,Plus switch,Plus switch,2,NaN,NaN,14/12/2021,NaN,Qualcomm,Issued,Android Upgrade Project,210459,Hrithik Jain
2,3,3P HYD 2122-138,DC HYD 2122-1847,MTP-QCS610.LA.2.0,"10-PF787-1113: DTP,SM6150 IDP, EMCP,COSMO, MAK...",1,N10PG4KLW,EX0296731,2021-09-11 00:00:00,NaN,Qualcomm,Issued,Android Upgrade Project,210460,Dhonthula Pavan Kumar
3,4,NaN,NaN,MTP-QCS610.LA.2.0,"10-PF787-1113: DTP,SM6150 IDP, EMCP,COSMO, MAK...",1,N10PGP3FY,EX0297868,2021-09-11 00:00:00,NaN,Qualcomm,Issued,Android Upgrade Project,210461,Vijay Balakula
4,5,NaN,NaN,MTP-QCS610.LA.2.0,"10-PF787-1113: DTP,SM6150 IDP, EMCP,COSMO, MAK...",1,N10PGT14D,EX0297909,2021-09-11 00:00:00,NaN,Qualcomm,Issued,Android Upgrade Project,210462,Sandhya

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SL#                   43 non-null     int64
 1   invoces NO            3 non-null      object
 2   DC NO                 3 non-null      object
 3   MCN                   43 non-null     object
 4   Description of Goods  43 non-null     object
 5   QTY                   43 non-null     int64
 6   Serial#               42 non-null     object
 7   PTAG #                42 non-null     object
 8   Received Date         43 non-null     object
 9   Return Date           38 non-null     object
 10  Received from         43 non-null     object
 11  Status                43 non-null     object
 12  Project #             43 non-null     object
 13  Employee ID           43 non-null     int64
 14  =                     24 non-null     object
dtypes: int64(3), object(12)
memory usage: 5.2+ KB

In [4]:
column_names=list(data.columns)

In [5]:
emp_details=dict(data.iloc[2,:])

In [6]:
emp_details

{'SL#': 3,
 'invoces NO': '3P HYD 2122-138',
 'DC NO': 'DC HYD 2122-1847',
 'MCN': 'MTP-QCS610.LA.2.0',
 'Description of Goods': '10-PF787-1113: DTP,SM6150 IDP, EMCP,COSMO, MAKUAL SMB1390, WCD9370,WSA8815,FHD+,12+13MP RFC, 13MP FFC, WCN3980, SDR660,CHINA APT (POST-SOD) +Power Charger (Adaptor)',
 'QTY': 1,
 'Serial#': 'N10PG4KLW',
 'PTAG #': 'EX0296731',
 'Received Date': datetime.datetime(2021, 9, 11, 0, 0),
 'Return Date': nan,
 'Received from': ' Qualcomm',
 'Status': 'Issued ',
 'Project #': 'Android Upgrade Project',
 'Employee ID': 210460,
 '=': 'Dhonthula Pavan Kumar'}

In [7]:
dict(data.loc[data["Employee ID"]=="Priyanka Vutkur"])

{'SL#': Series([], Name: SL#, dtype: int64),
 'invoces NO': Series([], Name: invoces NO, dtype: object),
 'DC NO': Series([], Name: DC NO, dtype: object),
 'MCN': Series([], Name: MCN, dtype: object),
 'Description of Goods': Series([], Name: Description of Goods, dtype: object),
 'QTY': Series([], Name: QTY, dtype: int64),
 'Serial#': Series([], Name: Serial#, dtype: object),
 'PTAG #': Series([], Name: PTAG #, dtype: object),
 'Received Date': Series([], Name: Received Date, dtype: object),
 'Return Date': Series([], Name: Return Date, dtype: object),
 'Received from': Series([], Name: Received from, dtype: object),
 'Status': Series([], Name: Status, dtype: object),
 'Project #': Series([], Name: Project #, dtype: object),
 'Employee ID': Series([], Name: Employee ID, dtype: int64),
 '=': Series([], Name: =, dtype: object)}

In [8]:
data["Employee ID"]=data["Employee ID"].astype(int)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SL#                   43 non-null     int64
 1   invoces NO            3 non-null      object
 2   DC NO                 3 non-null      object
 3   MCN                   43 non-null     object
 4   Description of Goods  43 non-null     object
 5   QTY                   43 non-null     int64
 6   Serial#               42 non-null     object
 7   PTAG #                42 non-null     object
 8   Received Date         43 non-null     object
 9   Return Date           38 non-null     object
 10  Received from         43 non-null     object
 11  Status                43 non-null     object
 12  Project #             43 non-null     object
 13  Employee ID           43 non-null     int64
 14  =                     24 non-null     object
dtypes: int64(3), object(12)
memory usage: 5.2+ KB

In [12]:
data.columns=['SL#',
 'invoces NO',
 'DC NO',
 'MCN',
 'Description of Goods',
 'QTY',
 'Serial#',
 'PTAG #',
 'Received Date',
 'Return Date',
 'Received from',
 'Status',
 'Project #',
 'Employee ID',
 'Employee Name']

In [5]:
import pandas as pd
Read_Excel("Qualcomm","priyanka vutkur","Name")

   SL# invoces NO DC NO           MCN  \
0    1        NaN   NaN  Data  Switch

                                Description of Goods  QTY      Serial#  \
0  CI-WS3650-48TS/K9: CISCO ONE CATALYST 3650 48 ...    1  FDO2215Q0E9

      PTAG #        Received Date Return Date Received from   Status  \
0  UC0074458  2019-02-21 00:00:00         NaN      Qualcomm  Issued

                 Project #  Employee ID    EMPLOYEE NAME  Employee Email
0  Android Upgrade Project       210458  PRIYANKA VUTKUR             NaN